.simplebar-placeholder{
    display: none;
}
.MuiPaper-root{
    width: 300px;
}
.buggerMenu{
    display: none;
}
@media only screen and (max-width:992px){
    .sideNav{
        display: none;
    }
    .buggerMenu{
        display: block;
    }
}